


html, body {
    
    padding: 0;
    margin: 0;
    background-color: #191A1A;
  }


  

  .itemBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 15px; */
    color: #EFEFEF;
    font-family: sans-serif;
    letter-spacing: 1px;
    
  }

  .mainNavBox{
      
    border: 3px solid #EFEFEF ;
    float: top;
  }

  #menu {
    position: absolute;
    top: 100px;
    right: 27px;
    z-index: 50;
    background: #EFEFEF;
    font-family: 'Open Sans', sans-serif;
}


/* .mainMapBox {
    display: flex;
} */

#map { 
    width:75%; 
    float: right;
    height:100vh;
    position: relative;
    
}
#feedColumn {
    width: 25%;
    height: 100vh;
    float: left;
    position: relative;
    background: #EFEFEF
}

a:visited { text-decoration: none;
             color:#EFEFEF;
             }

a:link {
    text-decoration: none;
}

.mainSideViews {
    background: #EFEFEF;
    height: 100vh;
   
}

.contactBox {
   display: flex;

    padding-top: 5px;
    
}

.contactInfo {
    padding-left: 5px;
}

.lastContact {
    padding-top: 40px;
  
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.usgsLogo {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
  

}

.aboutText {
    padding-top: 25px;
    font-family: sans-serif;
    font-size: 20px;
    /* letter-spacing: 1px; */
    /* font-weight: */
    margin: 10px;
}



